.footer {
    min-height: 100px;
    background: #546e7a;
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background:#455a64;
  }
 